.field-label {
  margin: 0;
}

.field-lable-inline .field-label {
  display: inline;
}

.views-field-term-node-tid,
.field-type-taxonomy-term-reference {
  margin-bottom: 1em;
}

.views-field-term-node-tid .tag-label,
.field-type-taxonomy-term-reference .field-label {
  float: left;
}
.views-field-term-node-tid .tag-label,
.field-type-taxonomy-term-reference .field-label {
  font-size: 1em;
  padding: 2px 5px 0 0;
}

.views-field-term-node-tid .item-list ul,
.field-type-taxonomy-term-reference ul {
  margin: 0;
  padding: 0;
}

.views-field-term-node-tid .item-list ul li,
.field-type-taxonomy-term-reference ul li {
  display: inline-block;
  font-size: 0.92em;
  list-style: none;
  margin: 0 5px 0 0 !important;
  padding: 0;
  background: none;
}

.views-field-term-node-tid .item-list ul li a,
.field-type-taxonomy-term-reference ul li a {
  border: 1px dotted #dadada;
  color: #333;
  display: inline-block;
  padding: 1px 10px;
}

.views-field-term-node-tid .item-list ul li a:hover,
.views-field-term-node-tid .item-list ul li a:active,
.views-field-term-node-tid .item-list ul li a:focus,
.field-type-taxonomy-term-reference ul li a:hover,
.field-type-taxonomy-term-reference ul li a:active,
.field-type-taxonomy-term-reference ul li a:focus {
  background: #333;
  border: 1px solid #333;
  color: #fff;
  text-decoration: none;
}

.field-buttons {
  float:right;
  width:35%;
}

.field-buttons a {
  display:block;
  float:left;
  width:120px;
  height:30px;
  background: yellow;
  margin: 0 10px;
}

.ai-l .field-type-image {
  margin: 4px 20px 10px 0;
}

.ai-r .field-type-image {
  margin: 4px 0 10px 20px;
}

.field-name-field-slogan .field-item {
  background: url(../images/bullet.png) no-repeat 0 9px;
  margin: 0 0 3px;
  padding: 3px 0 3px 15px;
}
